[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
*.pidb.meta
*.pdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
*.exe
*.dll
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
[Aa]sset[Ss]tore
ExportedObj/
.consulo/
*.private
*.private.meta
crashlytics-build.properties
